#container, #container2  {display: flex;
    border-radius: 1.5em;
}

div img {border-radius:1.5em;
    border: 10px solid #49a8f5;

}

#container div {flex:1;
    margin: 20px;
    padding:50px;
    border-radius: 1.5em;
}

#resume {flex:1;
    background-color: white;
    color: white;
    flex: 0 0 350px;
    padding:10px;
    margin: 20px;
    text-align: center;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #49a8f5;
}

#magazine {flex:1;
    background-color: white;
    color: white;
    flex: 0 0 350px;
    padding:10px;
    margin: 20px;
    text-align: center;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #49a8f5;
}

h1 { text-align: center;
    display: block;
    margin-top: 70px;
    font-family: 'Fredericka the Great', sans-serif;
    font-size: xx-large;
}

a  { 
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: x-large;
    color: #f77cd2;
    text-decoration: none;
    border-bottom: 1px solid #69d17a;
}

a:visited  {  color: #49a8f5;
}

body { background-image: url("../images/ja.jpg");
    border: 5px solid #49a8f5;
    margin: 0px;
}


#cv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 5px dotted #f77cd2;
    margin-bottom: 10px;
    border-radius:1.5em;
  }

#back {
    background-color:#69d17a;
    text-align: center;
    width: 20%;
    /*margin: 0 auto;*/
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 1em;
    
  }

@media only screen and (max-width:600px){
    #container, #container2   { display: block;
    }
    #rollover2, #rollover3, p { display: none;
    }

    #container div {
        padding:10px;
        width: 67%;
        margin: 0 auto;
    }

    #resume {
        background-color: white;
        color: white;
        border: 5px solid #f77cd2;
        margin: 10px;
        padding: 0px;
    }

    #magazine {
        background-color: white;
        color: white;
        border: 5px solid yellow;
        margin: 10px;
        padding: 0px;
    }

    div img {
        border: 5px solid #69d17a;
    }
    #pagecolor { background-image: url("../images/nej.jpg");
    }

    a  {  color: #69d17a;
        
    }

    #pagecolor { 
        border: 5px solid #86d5f7;
    }

    #back{ 
        padding: 10px;
        width: 70%;
        background-color: white;
        border: 2px solid #86d5f7;
    }

    #cv {
        width: 85%;

      }

    #mycv {
        background-image: url("../images/swirl.jpg");
        border: 5px solid #69d17a;

    }
    
    #mycv img {
        border: 5px dotted yellow;

    }

    #back a {
        font-size: large;

    }

}