body {padding: 20px;
}

#home{
    background-image: url("../images/snirkel.jpg");
    border: 10px solid #86d5f7;
    margin: 0px;
}

#high  {text-align: center;
    margin-top: 30px;
}

#places {
    border: 5px solid #f77cd2;
    border-radius: 1.5em;
}

h1   {text-align: center;
    margin-top: 40px;
}

.icon  {  display: block;
    margin-left: auto;
    margin-right: auto;
}

img {border-radius: 10px;
    margin: 10px;
}

.container1 {display: flex;
    margin-top: 50px;
}

.box1 {flex:1;
    margin-top: auto;
}

.box2 {flex:2;
    margin-top: auto;
}

.container2 {display: flex;
    margin-top: 50px;
}

.box3 {flex:1;
}

.box4 {flex:2;
}

.container3 {display: flex;
    margin-top: 50px;
}

.box5 {flex:1;
}

.box6 {flex:2;
    margin-top: auto;
}

.container4 {display: flex;
    margin-top: 50px;
}

.box7 {flex:1;
}

.box8 {flex:2;
}

.container5 {display: flex;
    margin-top: 50px;
}

.box9 {flex:1;
    margin-top: auto;
}

.box10 {flex:1;
}

.boxextra {flex:1;
    margin-top: auto;
}

.container6 {display: flex;
    margin-top: 50px;
}

.box11 {flex:2;
}

.box12 {flex:1;
}

.container7 {display: flex;
    margin-top: 50px;
}

.box13 {flex:1;
}

.box14 {flex:1;
}

.boxextra2 {flex:1;
}

.container8 {display: flex;
    margin-top: 50px;
}

.box15 {flex:1;
    display: block;
    margin-top: auto;
}

.box16 {flex:1;
    display: block;
}

.box17 {flex:1;
}

.container9 {display: flex;
    margin-top: 50px;
}

.box18 {flex:1;
    display: block;
}

.box19 {flex:1;
    display: block;
}

.box20 {flex:1;
}

.container10 {display: flex;
    margin-top: 50px;
}

.box21 {flex:1;
}

.box22 {flex:1;
}

.box23 {flex:1;
}

div p {padding: 20px;
}

div h2 {padding: 20px;
}

h1, h2 {font-family: 'Syncopate', sans-serif;
}

p {font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
}

a {font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white
}

footer {color: white;
    background-color: #11237d;
    padding: 15px;
    border-radius: 1.5em;
    border: solid white 5px;
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#places nav {
    border: solid #f77cd2 5px;
}

nav {color: white;
    background-color: #11237d;
    padding: 15px;
    border-radius: 1.5em;
    border: solid white 5px;
    width: 40%;
    text-align: center;
}

/*a:visited {color: white}*/


/* padding for p*/

.house {display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}

.room1 {flex:1;
    margin-top: auto;
    margin: 30px;
}

.room2 {flex:2;
    background-color: white;
    border-radius: 2.5em;
    border: solid black 5px;
}

.room2 p {
    padding: 50px;
}

.room2 h2 {
    padding: 10px;
}

.room3 {flex:1;
    margin-top: auto;
    margin: 15px;
}

.house img {border: 5px solid black;
    border-radius: 2.5em;
}

.house2 img {border: 20px solid white;
    border-radius: 2.5em;
}

.house2 {display: flex;
}

.room4 {flex:1;
 margin-top: auto;
}

.room5 {flex:1;
    margin-top: auto;
}

#tools {margin: 100px;
    background-image: url("../images/projectimages/toolsback.jpg");
}

#toolsh1 {
    margin: 100px;
}

h1 {border: solid black 5px;
    border-radius: 1.5em;
    padding: 20px; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.end {
    margin-left: 300px;
}

.useful {
    display: none;
}

.container1 img {
    border: solid #69d17a 5px;
}

.container2 img {
    border: solid #b988e3 5px;
}

.container3 img {
    border: solid #edb85c 5px;
}

.container4 img {
    border: solid #eb499a 5px;
}

.container5 img {
    border: solid #6365e6 5px;
}

.container6 img {
    border: solid #f5ef84 5px;
}

.container7 img {
    border: solid #9bf2de 5px;
}

.container8 img {
    border: solid #f55f6e 5px;
}

.container9 img {
    border: solid #85de88 5px;
}

#mobileFooter {
    display: none;
}

.room4 p, .room4 h2 {
    text-align: right;
}

@media only screen and (max-width:600px){
    .rosa, .green, .red, .pink, .icon {display: none} 
    .container1, .container2, .container3, .container4, .container5, .container6, .container7, .container8, .container9, .container9, .container10 {
        display: block;
    }
    img {
        width: 100%;
    } 

    .house2, .house{
        /*flex-direction: column; */
        display: block;
    }


    .end {
        display: none;
    }

    .room2 {
        justify-content: center;
    }

    #toolsh1 {
        display: none;
    }

    #tools {background-image: none;
    }

    #home {background-image: none;
    }

    #jag, #pappa { 
        border: 20px solid #86d5f7;
        border-radius: 2.5em;
    }

    .room2 { 
        margin-left: 40px;
    }

    .useful {
        display: block;
    }

    .house2 img {
        border: 20px solid #86d5f7;
    }


    #places img, #places p {
        margin: 10px;
    }
    #places, #places nav, .room2{
        border: none;
    }

    p, body {
        padding: 10px;
    }

    #tools p, #tools, #tools img, #places p, .room2 p {
        padding: 0px;
    }

    #home img {
        margin-left: auto;
        margin-right: auto;
    }

    footer  {
        display: none;
    }

    #mobileFooter {
        display:flex;
    }

    .mobilebox {
        flex: 1;
        background: #eb499a;
        width:20px;
        justify-content: space-between;
        padding: 15px;
        border-radius: 1.5em;
        text-align: center;
        margin: 10px;
    }

    #home {
        border:30px solid white;
    }

    .room4 p, .room4 h2 {
        text-align: left;
    }

}