#container1  {display: flex;
    border-radius: 1.5em;
}

#container1 div {flex:1;
    background-color: #f77cd2;
    width: 100px;
    margin: 20px;
    padding:100px;
    text-align: center;
    border-radius: 1.5em;
}
img  {border-radius: 1.5em;

}

#container2  {display: flex;
    border-radius: 1.5em;
}

.box {flex:1;
    background-color: #f77cd2;
    width: 100px;
    margin: 20px;
    padding:100px;
    text-align: center;
    border-radius: 1.5em;
}

#pink {flex:2;
}

    @media only screen and (max-width:600px){
        #container1, #container2 {flex-wrap: wrap;}
        #container1 div, #container2 div {background-color: dodgerblue;}
        #pink  {
            display: none;
        }

}